zapret-latest/bin
zapret-latest/lists/*-user.txt
zapret-latest/service.bat
/bin
.flowseal-rev
user-lists
AGENTS.md
conf.env
nfqws
auto_tune_youtube_results.txt
conf.env.backup
auto_tune_results.txt
gui/.venv
__pycache__/
